/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

h1{
text-align: center;
}
body {
  background-color: rgb(221,160,221);
}
.col-md-7 {
  border-left: black dotted 4px;
  padding-left: 30px;
}
